
<div id="mobile-test"></div>
<div class="cropper" id="crossfade">
    <img class="title-image async" data-src="images/Header001.png" />
</div>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a href="http://www.urban.org">
            <img class="logo-image hidden-lg async" data-src="images/new_mark_U-01.png" />
        </a>
        <a href="http://www.urban.org">
            <img class="logo-image hidden-xs hidden-sm hidden-md async" data-src="images/logo_revblue_trans.png" />
        </a>
        <span id="title-span" class="hidden-xs">MAPPING AMERICA'S FUTURES</span>
        <div id="hamburger-bun" class="height-adjust">
            <div id="share-container">
                <span id="hidden-share">
                <div id="twitter"><i class="fa fa-twitter"></i></div>
                <div id="facebook"><i class="fa fa-facebook"></i></div>
                <div id="mail"><i class="fa fa-envelope-o"></i></div>
              </span>
                <div id="social">
                    <i class="fa fa-share"></i>
                </div>
            </div>
            <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
    <div class="navbar-collapse collapse" id="briefs">
        <div class="container" id="hamburger-meat">
            <div class="col-md-3 col-lg-3">
                <h1 class="dropdown-section-header">INTERACTIVE FEATURES</h1>
                <hr/>
                <a class="carousel-link" id="map">Mapping America's Futures</a>
                <a class="carousel-link" id="feature">What will America look like in 2030?</a>
                <a href="http://www.urban.org/about/contact.cfm">Questions or Comments?<br/>Let us know.</a>
            </div>
            <div class="col-md-3 col-lg-3">
                <h1 class="dropdown-section-header">BLOG POSTS</h1>
                <hr/>
                <a href="http://blog.metrotrends.org/2014/10/states-charitable-red-blue-ones/">
                  Which states are more charitable, red ones or blue ones?</a>
                <a href="http://blog.metrotrends.org/2014/10/marriage-solution-income-inequality/">
                  Is marriage a solution to income inequality?</a>
                <a href="http://blog.metrotrends.org/2014/10/hurricane-sandy-havent-learned/">Hurricane Sandy: What we still haven’t learned</a>

                <a href="http://blog.metrotrends.org/2014/10/data-action-breakthrough-estimating-nonprofit-employment/">Data in action: a breakthrough in estimating nonprofit employment</a>
            </div>
            <div class="col-md-6 col-lg-6">
                <h1 class="dropdown-section-header">RESEARCH</h1>
                <hr/>
                <a href="http://www.taxpolicycenter.org/publications/url.cfm?ID=109047">Municipal Debt: What Does It Buy and Who Benefits?</a>
                <a href="http://www.urban.org/publications/413280.html">Is Bigger Better? The Implications of Health Care Provider Consolidation: An Interview with Atul Gawande</a>
                <a href="http://www.urban.org/publications/413278.html">Small-Dollar Credit: Consumer Needs and Industry Challenges</a>
                <a href="http://www.urban.org/publications/413279.html">Federal and State Policy Toward Association Health Plans in Oregon</a>
            </div>
        </div>
    </div>
</nav>