<!DOCTYPE html>
<!--[if (lte IE 9) ]>    <html class="lte_ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<head>

  <!--
    Population Projections 2.0
    Ben Southgate (bsouthga@gmail.com)
    12/01/14
  -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@urbaninstitute">
  <meta name="twitter:creator" content="@urbaninstitute">
  <meta name="twitter:title" content="Mapping America’s Futures">
  <meta name="twitter:description"
        content="The Census Bureau projects the United States will grow by nearly 49 million people between 2010 and 2030. Test possible scenarios for how the US population might change in 2020 and 2030.">
  <meta name="twitter:image" content="NEED IMAGE">
  <meta property="og:title" content="Mapping America’s Futures" />
  <meta property="og:description"
        content="The Census Bureau projects the United States will grow by nearly 49 million people between 2010 and 2030. Test possible scenarios for how the US population might change in 2020 and 2030." />
  <meta property="og:image" content="NEED IMAGE" />
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="400">
  <meta property="og:image:height" content="400">
  <meta property="og:url" content="http://urbn.is/AmericasFutures">

  <title>Mapping America’s Futures</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <!-- build:css:dist css/app.min.css -->

  <!-- vendor styles -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/select2/select2.css" rel="stylesheet">
  <link href="lib/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- urban styles -->
  <link href="css/map.css" rel="stylesheet">
  <link href="css/charts.css" rel="stylesheet">
  <link href="css/carousel.css" rel="stylesheet">
  <link href="css/controls.css" rel="stylesheet">
  <link href="css/detail.css" rel="stylesheet">
  <link href="css/nav.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/select2-bootstrap.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

  <!-- /build -->

</head>

<body>