<div class="item" id="map">

  <div class="view_button right" id="feature">
    READ THE <BR/> ARTICLE
  </div>

  <div class="fill">
    <div class="container">
      <div class="col-md-12 item-container  extra-padding" id="map-tool-container">

        <div class="row" id="top-row">
          <div class="col-md-12">
            <!-- extra container to keep alignment with lower rows -->
            <div class="col-md-12">
              <h1>Mapping America’s Futures</h1>
              <p class="map-more-text">
                Test possible scenarios for how the US population might change by 2020 and 2030. The results will change depending on whether you choose low, average, or high rates for future births, deaths, or migration.
              </p>
            </div>
          </div>
        </div>

        <!-- Assumption settings -->
        <div class="row"
             id="control-row">

          <div id="space-filler"></div>

          <div class="col-md-12"
               id="map-top">

            <div id="control-collapse">

              <div class="col-sm-4" id="assumption-buttons">
                <div class="settings-header">Select rates: </div>
                <label class="select-label">Births</label>
                <div id="fertility"></div>
                <label class="select-label">Deaths</label>
                <div id="mortality"></div>
                <label class="select-label">Migration</label>
                <div id="migration"></div>
              </div>

              <div class="col-sm-8 border-group">

                <div class="col-sm-9 no-left-pad sm-no-pad" id="ethicity-select">

                  <div class="settings-header">Filter map: </div>

                  <label class="select-label">Age</label>
                  <div  id="age"></div>
                  <label class="select-label">Race</label>
                  <div  id="race"></div>

                </div>

                <div class="col-sm-3 border-group no-right-pad sm-no-pad" id="year-change-group">

                  <div class="settings-header">Choose years: </div>

                  <div id="year-select-container">
                    <label class="select-label">From</label>
                    <select class="form-control year-select" id="start"></select>
                    <label class="select-label">To</label>
                    <select class="form-control year-select" id="end"></select>
                  </div>

                </div>

                <div class="col-sm-7 no-left-pad sm-no-pad" id="boundary-group">
                  <label class="select-label" id="boundary_label">Boundary</label>

                  <br/>

                  <div class="btn-group settings" id="boundary">
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn settings-button" id="states">
                        STATES</button>
                    </div>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn settings-button active" id="czones">
                        COMMUTING ZONES</button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-5" id="boundary-info">
                  The map divides the United States into 740 commuting zones&mdash;places connected by local economies.
                </div>

              </div>

            </div>
            <!-- collapse div -->

            <div class="col-sm-12">
              <div id="control-collapse-toggle">
                <span class="settings-dropdown-icon">
                  <i class="fa fa-3 fa-chevron-circle-down"></i>
                </span>
                Change settings
              </div>
            </div>

          </div>

        </div>

        <hr class="hr-legend" />

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <div class="settings-header-legend" id="legend-header">
                Rollover key to isolate population change range on the map.
              </div>
              <div class="legend" id="map_container-legend"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="map_container" oncontextmenu="return false"></div>
          </div>
        </div>

      </div>
    </div>

    <div id="detail-background">
      <div class="container">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12" id="detail-well">

              <div class="row">
                <div class="col-xs-12 col-sm-3 col-sm-push-9">
                  <div id="right_controls">
                    <select class="form-control" id="czone-select" data-live-search="true">
                    </select>
                    <div id="return-to-map">
                      Return to map <i id="return-button" class="fa fa-chevron-circle-up"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-9  col-sm-pull-3">
                  <h1 id="region-header">
                    <span id="region"></span>,
                    <span id="detail-years"></span>
                  </h1>
                  <div id="detail-settings"></div>
                </div>
              </div>

              <div class="row">

                <div class="col-sm-12">
                  <span class="detail-label">  Population growth:
                    <span class="change-block">
                      <span id="growth-cell"></span>
                    </span>
                  </span>
                  <span class="detail-label">  Population change:
                    <span class="change-block">
                      <span id="start-change"></span> to
                      <span id="end-change"></span>
                    </span>
                  </span>
                </div>
              </div>

              <hr class="detail-hr"/>

              <div class="row padded-row">
                <div class="col-sm-8">
                  <h2 class="detail-header">
                    Age and Race Trends, 2000-2030
                  </h2>
                  Distribution of age and race from 2020 to 2030. Data from 2000 to 2010 are actual values and do not change when different birth, death, and migration rates are selected.
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div id="race-lines"></div>
                </div>
                <div class="col-sm-6">
                  <div id="age-lines"></div>
                </div>
              </div>

              <hr class="detail-hr"/>

              <div class="row">
                <div class="col-sm-12">
                  <h2 class="detail-header">
                  Age and Race Detail</h2>
                </div>
                <div class="col-sm-8">
                  Breakdown of ages by race from 2020 to 2030. Data in 2000 and 2010 are actual values and do not change when different birth, death, and migration rates are selected.
                </div>
                <div class="col-sm-4">
                  <div class="btn-group" id="pyramid-select"></div>
                </div>
              </div>
              <div class="row" id="pyramids">
                <div class="col-sm-12">
                  <div class="pyramid col-xs-6 col-sm-15" id="all"></div>
                  <div class="pyramid col-xs-6 col-sm-15" id="white"></div>
                  <div class="pyramid col-xs-6 col-sm-15" id="black"></div>
                  <div class="pyramid col-xs-6 col-sm-15" id="hispanic"></div>
                  <div class="pyramid col-xs-6 col-sm-15" id="other"></div>
                </div>
              </div>

            </div>
            <!-- detail view well -->
            </div>

          </div>
          <!-- col-sm-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- col-lg-10 col-lg-offset-1 -->
    </div>
    </div>
    <div>
    <!-- container -->
    <div id="footer">
      <div class="container">
        <div class="col-lg-12">
           <div class="col-sm-3">
            <h3>Data Available for Download</h3>
            <div class="download-link">
              <a id="download-codebook" href="data/Download/PopProj_Codebook.xlsx">Variable Codebook.</a>
            </div>
            <div class="download-link">
              <a id="download-czone" href="">All data for all scenarios for the selected area.</a>
            </div>
            <div class="download-link">
              <a id="download-xwalk" href="data/Download/PopProj_GeoXwalk.xlsx">Geographic crosswalk between counties and commuting zones.</a>
            </div>
            <div class="download-link">
              <a id="download-map" href="">Map data for current assumption and boundary settings.</a>
            </div>
            <div class="download-link">
              <a id="download-full" href="data/Download/AllCZ_AllFert_AllMort_AllMig.csv">All available data (0.5GB).</a>
            </div>
          </div>
          <div class="col-sm-6 sm-no-pad" id="credits">
            <div class="col-sm-12">
              <h3> Project Credits </h3>
            </div>
            <div class="col-sm-6">
              <h5> RESEARCH TEAM </h5>
              <h6 class="credit-title">PROJECT DIRECTOR</h6>
              Rolf Pendall
              <h6 class="credit-title">RESEARCH</h6>
              <div class="credit-name">Nan Marie Astone,&nbsp;</div>
              <div class="credit-name">Steven Martin,&nbsp;</div>
              <div class="credit-name">H. Elizabeth Peters,&nbsp;</div>
              <div class="credit-name">Austin Nichols,&nbsp;</div>
              <div class="credit-name">Kaitlin Franks Hildner,&nbsp;</div>
              <div class="credit-name">Allison Stolte,&nbsp;</div>
              <div class="credit-name">Pam Blumenthal</div>
            </div>
            <div class="col-sm-6">
              <h5> WEB TOOL AND FEATURE </h5>
              <h6 class="credit-title">WEB DESIGN</h6>
              <div class="credit-name">Adrienne Hapanowicz,&nbsp;</div>
              <div class="credit-name">Tim Meko</div>
              <h6 class="credit-title">WEB DEVELOPMENT</h6>
              <div class="credit-name">Ben Southgate,&nbsp;</div>
              <div class="credit-name">Graham MacDonald</div>
              <h6 class="credit-title">STORY</h6>
              Serena Lei
              <h6 class="credit-title">EDITING</h6>
              Elizabeth Forney
            </div>

          </div>
          <div class="col-sm-3">
            <h3>Questions? Let us know.</h3>
            Share your feedback with researchers.
            <a href="mailto:americasfutures@urban.org">AmericasFutures[at]urban.org</a>
            <a href="https://twitter.com/search?f=realtime&q=%23americasfutures&src=typd">#AmericasFutures</a>
          </div>
        </div>
        </div>
        <div class="row">
          <div id="copyright">Copyright &copy; Urban Institute 2015</div>
        </div>
      </div>

    </div>
  </div>
</div>