/*
#
#
# Population Projections 2.0
# Ben Southgate (bsouthga@gmail.com)
# 10/31/14
#
#
# Bar and Line Charts
#
#
*/

.chart-svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.chart-svg-container {
  display: inline-block;
  position: relative;
  padding:0px;
  vertical-align: middle;
}

/*---------------------------------------
  ---------------------------------------
    Bar Charts
  ---------------------------------------
  --------------------------------------- */
.bar {
  fill : #0096D2;
}

.bar.highlight {
  fill : #fdbf11;
}

.bar-title {
  font-size: 20px;
  font-weight: bold;
}

.axis {
  font-size: 18px;
  fill : none;
}

.x.axis {
  font-size: 16px;
  fill : none;
}

.axis path.domain {
  stroke : #000;
  stroke-width : 1px;
}


.y.axis path.domain {
  fill : none;
  stroke : none;
}

.y.grid .tick {
  stroke-dasharray : 3, 5;
  stroke : #777;
}

.pyramid.bar {
  cursor: pointer;
}

.pyramid:first-child .axis text {
  stroke : none;
  fill : #000;
}

.pyramid .x.axis text {
  stroke : none;
  fill : #000;
}

.bar-label {
  fill : #000;
}

.datalabel {
  font-size: 18px;
  fill : #000;
};

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.pyramid.chart-svg-container {
  padding-bottom: 33%;
}


@media(max-width: 767px) {
  .pyramid.chart-svg-container {
    padding-bottom: 83.3%;
  }

  .pyramid:nth-child(odd) .axis text {
    stroke : none;
    fill : #000;
  }

}

/*---------------------------------------
  ---------------------------------------
    Line Charts
  ---------------------------------------
  --------------------------------------- */
.line {
  fill : none;
  stroke-width : 4px;
}

.line.legend {
  stroke-width: 7px;
}

.axis.linechart {
  fill : #000;
}

.y.axis.linechart .domain {
  fill : none;
  stroke : none;
}

.x.axis.linechart .domain{
  fill : none;
  stroke : #000;
}

.x.axis.linechart .tick line {
  stroke : #000;
  stroke-width : 1px;
}

.line-title {
  font-size: 14px;
  font-weight: bold;
}

.grid.linechart .tick {
  stroke-dasharray : 3, 5;
  stroke : #777;
}

.legend-text.linechart {
  fill : #000;
  font-size: 20px;
}

.legend.linechart:hover {
  cursor: pointer;
}

.linechart.tooltip-year {
  font-size: 25px;
  font-weight: bold;
}

.linechart.tooltip-series,
.linechart.tooltip-values {
  font-size: 20px;
}