/*
#
#
# Population Projections 2.0
# Ben Southgate (bsouthga@gmail.com)
# 10/31/14
#
#
# Detail Section
#
#
*/


hr.detail-hr {
  border-color: #ccc;
  border-width: 1px;
  margin: 40px 0;
}

h2.detail-header {
  margin-top: 0px;
}

#detail-background {
  background-color: #eee;
  padding-top: 80px;
  padding-bottom: 50px;
}

#return-button {
  margin-left: 10px;
}

#return-to-map {
  float: left;
  font-style: italic;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#return-to-map:hover {
  background-color: #0096D2;
  color : #fff;
}

#year-select-container {
  text-align: left;
  padding: 0px;
}

.year-select {
  display: block;
  width: 100%
}

.detail-label {
  font-size: 14px;
  font-weight: bold;
}

@media(max-width: 767px) {
  .detail-label {
    display: block;
    font-size: 26px;
  }
  .change-block {
    display: block;
  }
}

#start-change, #end-change, #growth-cell{
    color:#0096D2;
}

#right_controls {
  margin-bottom: 15px;
}

#czone-select {
  float: right;
}

#detail-settings {
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 15px;
}

#region-header{
    margin-top: 0px;
    width: 100%;
    display: block;
}


